* {
    margin: 0px;
    padding: 0px;
}

table {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-bottom: 30px;
}

tr th {
    background-color: #444;
    width: 130px;
    height: 30px;
    color: white;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

tr td {
    background-color: white;
    color: black;
    width: 130px;
    height: 25px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-align: center;
}

span {
    margin-left: 2px;
    margin-right: 3px;
}